{% load static %} <!-- Загрузка тега static для работы с статическими файлами -->
<!DOCTYPE html> 
<html lang="en"> 
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Онлайн-кинотеатр</title> 
    <link rel="stylesheet" href="{% static 'app/css/styles.css' %}"> <!-- Подключение внешнего CSS-файла для стилизации страницы -->
</head>
<body class="{{ selected_theme }}"> <!-- Начало секции body, содержащей основной контент страницы, с применением выбранной темы -->
    <h1>Выберите жанр фильма</h1> 
    <form method="post" action="{% url 'cinema:select_genre' %}"> <!-- Форма для выбора жанра фильма, отправляющая данные методом POST -->
      {% csrf_token %} <!-- Вставка CSRF-токена для защиты формы -->
      <label for="genre">Жанр:</label> 
        <select name="genre" id="genre"> 
            <option value="nothing">Не выбрано</option> 
            <option value="action">Экшен</option> 
            <option value="comedy">Комедия</option>
            <option value="drama">Драма</option> 
            <option value="horror">Ужасы</option> 
        </select>
        <button type="submit">Выбрать</button> 
    </form>
    <h2>Выберите тему</h2> 
    <form method="post" action="{% url 'cinema:select_theme' %}"> <!-- Форма для выбора темы, отправляющая данные методом POST -->
      {% csrf_token %} <!-- Вставка CSRF-токена для защиты формы -->
      <label for="theme">Тема:</label> 
        <select name="theme" id="theme">
            <option value="light">Светлая</option> 
            <option value="dark">Темная</option> 
        </select>
        <button type="submit">Выбрать</button>
    </form>

    <div id="content"> 
        <p>Выбранный жанр: {{ selected_genre }}</p> <!-- Отображение выбранного жанра -->
        {% if selected_genre == 'action' %} <!-- Условие для отображения контента, если выбран жанр "Экшен" -->
            <h2>Экшен</h2> 
            <p>Описание фильма в жанре экшен.</p> 
            <p>Боеви́к (англ. action movie, букв. фильм действия, э́кшен-фильм) — жанр киноискусства,
              в котором основное внимание уделяется насилию: перестрелкам, дракам, погоням и т. п.
              Большинство боевиков иллюстрируют известный тезис «добро должно быть с кулаками».
              Экшен-фильмы часто обладают высоким бюджетом, изобилуют каскадёрскими трюками и спецэффектами.</p>
            <img src="{% static 'app/images/action.jpg' %}" alt="Экшен"> 
        {% elif selected_genre == 'comedy' %} <!-- Условие для отображения контента, если выбран жанр "Комедия" -->
            <h2>Комедия</h2> 
            <p>Описание фильма в жанре комедия.</p> 
            <p>Комедия — это жанр кино, который стремится вызвать смех и создать веселую атмосферу.
              Комедийные фильмы используют различные виды юмора, такие как ирония, сатира, пародия и физическая комедия,
              чтобы развлекать зрителей. Они часто заканчиваются на позитивной ноте, имеют легкий и непринужденный тон, и их
              герои часто бывают эксцентричными или нелепыми. Диалоги в комедиях часто содержат остроумные реплики и шутки, а
              сюжет может включать нелепые или абсурдные ситуации. Комедийные фильмы могут также сочетать элементы романтики и
              социальной сатиры.</p>
            <img src="{% static 'app/images/comedy.jpg' %}" alt="Комедия">
        {% elif selected_genre == 'drama' %} <!-- Условие для отображения контента, если выбран жанр "Драма" -->
            <h2>Драма</h2>
            <p>Описание фильма в жанре драма.</p> 
            <p>Драма — это жанр кино, который фокусируется на серьезных и эмоционально насыщенных темах, исследуя человеческие отношения,
              внутренние конфликты и социальные проблемы. Фильмы в жанре драмы стремятся вызвать глубокие эмоции у зрителей,
              такие как сочувствие, грусть, радость или размышления. Они часто имеют сложные сюжетные линии и хорошо проработанных
              персонажей, сталкивающихся с трудными жизненными ситуациями. Диалоги в драмах глубокие и значимые, помогая раскрыть
              внутренний мир героев и их мотивации. Драмы могут быть разнообразными по тематике и стилю, но их объединяет стремление к
              реализму и эмоциональной глубине. </p>
            <img src="{% static 'app/images/drama.jpg' %}" alt="Драма">
        {% elif selected_genre == 'horror' %} <!-- Условие для отображения контента, если выбран жанр "Ужасы" -->
            <h2>Ужасы</h2> 
            <p>Описание фильма в жанре ужасы.</p> 
            <p>Ужасы — это жанр кино, который стремится вызвать у зрителей чувство страха, тревоги и напряжения.
              Фильмы в жанре ужасов часто включают элементы мистики, сверхъестественного, насилия и психологического давления.
              Сюжеты могут вращаться вокруг монстров, призраков, серийных убийц или других пугающих существ и явлений.
              Атмосфера фильмов ужасов обычно мрачная и зловещая, с использованием специальных эффектов, музыки и звуковых
              эффектов для усиления страха. Герои часто сталкиваются с опасностями и борются за выживание, что создает напряженные и
              пугающие моменты. </p>
            <img src="{% static 'app/images/horror.jpg' %}" alt="Ужасы"> 
        {% else %} <!-- Условие для отображения контента, если жанр не выбран -->
            <p>Пожалуйста, выберите жанр.</p>
        {% endif %} <!-- Конец условий для отображения контента в зависимости от выбранного жанра -->
    </div>
</body> 
</html> 
